a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-top-div {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}

@media (min-width: 868px) {
  .nav-top-div {
    margin: 0 10rem;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.nav-button {
  padding: 0.75rem 1rem;
  margin: 1rem 0.5rem;
}

.nav-button:hover {
  cursor: pointer;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border-radius: 5%;
  transition: all 1s ease;
}

.nav-button.selected {
  font-weight: bold;
  background: teal;
  color: #fff;
}

.nav-top-div .title {
  margin: auto 0;
}

.nav-top-div .menu {
  display: flex;
  color: blue;
  text-transform: uppercase;
}

@media (max-width: 620px) {
  .nav-top-div > .title {
    display: none;
  }

  .nav-top-div {
    justify-content: center;
    /* margin: 0 auto; */
  }

  .nav-button {
    padding: 0.75rem 0.5rem;
    margin: 1rem 0.2rem;
  }
}
