/* .modal-self {
  height: 22rem;
  position: relative;
} */

.name-div,
.dateSold-div,
.customer-div,
.product-div,
.store-div {
  display: flex;
  flex-direction: column;
}

.address-div,
.price-div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin-right: 3rem !important;
}

.alert-message {
  color: white;
  font-weight: bold;
}
